<!--
  - This file is part of the Adblock Plus web scripts,
  - Copyright (C) 2006-2017 eyeo GmbH
  -
  - Adblock Plus is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License version 3 as
  - published by the Free Software Foundation.
  -
  - Adblock Plus is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Subscriptions status</title>
  </head>
  <body>
    <table border="1">
      {% for subscription in subscriptions -%}
        <tr>
          <td>{{subscription.name}}</td>
          <td>
            {% for link in subscription.links -%}
              {% if link.result == True -%}
                <a style="color: green;" title="OK"
              {% elif link.result == False and link.siteResult -%}
                <a style="color: red;" title="Connection error (downforeveryoneorjustme.com disagrees)"
              {% elif link.result == False and not link.siteResult -%}
                <a style="color: red;" title="Connection error (downforeveryoneorjustme.com agrees)"
              {% else -%}
                <a style="color: red;" title="HTTP error {{link.result}}"
              {% endif -%}
              {{' '}}href="{{link.url}}">{{link.title}}</a><br />
            {% endfor -%}
          </td>
        </tr>
      {% endfor -%}
    </table>
  </body>
</html>
