<!--
  - This file is part of the Adblock Plus web scripts,
  - Copyright (C) 2006-2017 eyeo GmbH
  -
  - Adblock Plus is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License version 3 as
  - published by the Free Software Foundation.
  -
  - Adblock Plus is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Language check results for {{locale}}</title>
</head>
<body>
  <p>Language check results for {{locale}}:</p>
  {%- if errors %}
  <ul>
  {%- for err in errors %}
    <li style="background-color: {% if err.critical %}#FFE0E0{% else %}#FFFFE0{% endif %}">{{ err.text }}</li>
  {%- endfor %}
  </ul>
  {%- else %}
  <p>No issues found</p>
  {%- endif %}
</body>
</html>
