<!--
  - This file is part of the Adblock Plus web scripts,
  - Copyright (C) 2006-2017 eyeo GmbH
  -
  - Adblock Plus is free software: you can redistribute it and/or modify
  - it under the terms of the GNU General Public License version 3 as
  - published by the Free Software Foundation.
  -
  - Adblock Plus is distributed in the hope that it will be useful,
  - but WITHOUT ANY WARRANTY; without even the implied warranty of
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  - GNU General Public License for more details.
  -
  - You should have received a copy of the GNU General Public License
  - along with Adblock Plus.  If not, see <http://www.gnu.org/licenses/>.
  -->

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Report submission</title>
</head>
<body>
  {% if knownIssues -%}
  <p><strong>%KNOWNISSUE%</strong>
    {%- for issue in knownIssues -%}
      <br /><a href="{{issue}}">{{issue}}</a>
    {%- endfor -%}
  </p>
  {%- endif %}
  <p>%CONFIRMATION% <a id="link" href="{{url}}">{{url}}</a></p>
</body>
</html>
